body {
    background-color: #ffffff;
    color: #343a40;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.navbar {
    margin-bottom: 20px;
    border-bottom: 1px solid #dee2e6;
    background: linear-gradient(to right, #6899b9, #70e5df);
}

.navbar-brand {
    font-weight: 700;
}

.nav-link {
    font-size: 1.6rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

.navbar {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

footer {
    background: linear-gradient(to right, #6899b9, #70e5df);
    width: 100%;
    height: 40px;
    text-align: center;
}

@media (max-width: 767.98px) {
    footer {
        margin-top: auto;
    }
}

.custom-rounded-card {
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid darkblue;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */
}

.custom-rounded-card img {
    height: 200px;
    width: 200px;
    object-fit: contain;
    margin-top: 20px;
    /* Add margin to bring image slightly down */
}

.custom-rounded-card .card-body {
    padding: 20px;
    text-align: center;
    align-items: center;
}

.nunito-123 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: italic;
}