body {
	background-color: #ffffff;
	color: #343a40;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	flex: 1;
}

.navbar {
	margin-bottom: 20px;
	border-bottom: 1px solid #dee2e6;
	background: linear-gradient(to right, #468bb9, #70e5df);
}

.navbar-brand {
	font-weight: 700;
}

.hero-text {
	font-family: 'Arial', sans-serif;
	color: #007bff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.hero-text h1 {
	font-size: 4.7rem;
	font-weight: 700;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

.hero-text p {
	font-size: 1.5rem;
	font-weight: 400;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-img {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
	opacity: 0.4;
}

.card-custom {
	background-color: #e5faf9;
	border-radius: 15px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	border: 1px solid #000000;
	padding: 2rem;
}

.profile-img {
	width: 120px;
	height: 120px;
	object-fit: cover;
	border: 3px solid #007bff;
}

.btn-custom {
	background-color: #007bff;
	border: none;
	color: #fff;
	font-weight: 500;
	padding: 10px;
}

.btn-custom:hover {
	background-color: #0056b3;
}

footer {
	background: linear-gradient(to right, #468bb9, #70e5df);
	width: 100%;
	height: 40px;
	text-align: center;
}

@media (max-width: 767.98px) {
	footer {
		margin-top: auto;
	}
}
